/* GENERAL */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #dddddd;
}

body {
    font-size: 17px;
    background-color: rgb(40, 40, 50);
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    background-color: rgb(60, 60, 70);
}

header a {
    margin: 20px;
    line-height: 0;
}

header a img {
    width: 75px;
    height: 75px;
}

header h1 {
    margin: 20px;
}

.menu {
    position: fixed;
    width: 15%;
    height: 88%;
    overflow: auto;
    transition: all linear 0.2s;
    background-color: rgb(40, 40, 50);
}

.menu-fixed {
    top: 0;
    height: 100%;
}

.menu ul {
    display: block;
    width: 99%;
}

.menu ul hr {
    width: 99%;
    background-color: #dddddd;
}

.menu ul li a {
    display: block;
    padding: 8px 0px 8px 16px;
}

.menu ul li a#active {
    background-color: rgb(60, 60, 70);
}

.menu ul li a:hover:not(#active) {
    background-color: rgb(60, 60, 70);
}

section {
    margin: 2% 4% 0% 18%;
}

section h1 {
    display: block;
    font-size: 36px;
    margin-bottom: 10px;
}

section p {
    display: block;
    margin-bottom: 10px;
    text-align: justify;
}
/* GENERAL */