/* Indice
    
General | 11 - 25
Header | 27 - 50
Nav | 52 - 89
Section | 91 - 187
    Tablas | 155 - 185

*/

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #dddddd;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(40, 40, 50);
}
/* GENERAL */

/* HEADER */
header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    background-color: rgb(60, 60, 70);
    position: sticky;
    top: 0;
}

header a {
    margin: 20px;
    line-height: 0;
}

header a img {
    width: 75px;
    height: 75px;
}

header h1 {
    margin: 20px;
    font-size: 40px;
}
/* HEADER */

/* NAV */
.menu {
    position: fixed;
    width: 15%;
    height: 88%;
    overflow: auto;
    transition: all linear 0.2s;
    background-color: rgb(40, 40, 50);
}

.menu-fixed {
    top: 0;
    height: 100%;
}

.menu ul {
    display: block;
    width: 99%;
}

.menu ul hr {
    width: 99%;
    background-color: #dddddd;
}

.menu ul li a {
    display: block;
    padding: 8px 0px 8px 16px;
}

.menu ul li a#active {
    background-color: rgb(60, 60, 70);
}

.menu ul li a:hover:not(#active) {
    background-color: rgb(60, 60, 70);
}
/* NAV */

/* MAIN */
main {
    margin: 2% 4% 0% 18%;
    padding-bottom: 200px;
}

main h1 {
    display: block;
    margin-bottom: 10px;
    font-size: 36px;
    color: #00aaff;
}

main h2 {
    display: block;
    margin: 30px 0 10px 0;
    font-size: 30px;
    color: #9cdcfe;
}

main h3 {
    display: block;
    margin: 20px 0 10px 0;
    font-size: 22px;
}

main h4 {
    display: block;
    margin: 10px 0;
    font-size: 18px;
}

main ul {
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
}

main ul li {
    display: block;
}

main ul li a {
    color: #9cdcfe;
}

main p {
    display: block;
    margin: 10px 0;
    text-align: justify;
}

main code {
    display: block;
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(30, 30, 40 );
}

main section.attribute {
    margin-left: 20px;
}

main section.attribute a {
    display: inline;
    margin: 10px 0;
    color: #00aaff;
    text-decoration: underline;
}

/* TABLAS */
table {
    width: 100%;
}

th {
    font-size: 18px;
    text-align: center;
}
 
table.column2 th, table.column2 td {
    padding: 12px 0px 12px 8px;
    width: calc(100% / 2);
    vertical-align: center;
    border: 2px solid #444;
}

table.column3 th, table.column3 td {
    padding: 12px 0px 12px 8px;
    width: calc(100% / 3);
    vertical-align: center;
    border: 2px solid #444;
}

table.column4 th, table.column4 td {
    padding: 12px 0px 12px 8px;
    width: calc(100% / 4);
    vertical-align: center;
    border: 2px solid #444;
}
/* TABLAS */

/* MAIN */